html {
  scroll-behavior: smooth; }

body {
  opacity: 0;
  transition: 1s;
  transform: translate(0, -150px); }

ul {
  list-style-type: none;
  margin: 0px 10%;
  padding: 0px; }

li {
  overflow: hidden; }

h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200; }

main {
  overflow: hidden;
  padding: 0px 10%; }

@media (max-width: 767px) {
  main {
    padding: 0px 2%; }
  nav ul {
    margin-left: 0px;
    margin-right: 0px; }
  #about .content {
    text-align: center; } }

@media (max-width: 415px) {
  body {
    opacity: 1;
    transition: 1s;
    transform: translate(0px, 0px); } }

@media (max-width: 360px) {
  header em {
    display: none; } }

.banner {
  height: 70vH;
  min-height: 315px;
  background-image: linear-gradient(45deg, black, transparent 80%), url("https://images.unsplash.com/photo-1543074218-cc16958718bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ede1877892dedb4f98f062a7c5ca1e64&auto=format&fit=crop&w=968&q=80");
  background-size: cover;
  background-position: 50% 20%;
  position: relative; }
  .banner .content {
    padding-top: 120px;
    color: white; }
    .banner .content a {
      text-decoration: none;
      color: white;
      transition: .2s; }
    .banner .content a:hover {
      letter-spacing: .5px;
      transition: .2s; }
  .banner h1 {
    font-size: 60px;
    font-family: 'Quicksand', sans-serif; }
  .banner h3 {
    font-size: 32px;
    font-family: 'Quicksand', sans-serif; }

nav {
  position: absolute;
  bottom: 0px; }
  nav a {
    color: white;
    transition: .2s;
    text-decoration: none;
    position: relative;
    z-index: 10; }
  nav a:hover {
    color: salmon;
    transition: .2s;
    text-decoration: none;
    letter-spacing: .5px; }

li .nav-effect {
  background-color: salmon;
  height: 1px;
  transform: translate(0, -15px);
  visibility: hidden;
  transition: .1s;
  transition-timing-function: ease-in-out; }

li a:hover + .nav-effect {
  transition: .4s;
  visibility: visible;
  transform: translate(0, 0); }

@media (max-width: 425px) {
  .banner h1 {
    font-size: 48px; }
  .banner h3 {
    font-size: 22px; }
  nav ul {
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px; }
    nav ul li {
      padding-bottom: 10px; } }

#about .about-img {
  height: 300px;
  width: 300px;
  background-image: url("https://i.imgur.com/BKeZCFQ.png");
  background-position: 65% 40%;
  border-radius: 50%;
  transition: .2s; }

#about .content {
  width: 50%;
  max-height: 300px; }

#loading-bar {
  width: 0px;
  height: 5px;
  position: absolute;
  bottom: -20px;
  background-color: grey;
  border-radius: 30px;
  transition: 2s;
  animation: loading;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s; }

@keyframes loading {
  0% {
    width: 0px; }
  90% {
    width: 300px;
    opacity: 1; }
  100% {
    width: 300px;
    opacity: 0; } }

#project {
  width: 100%; }
  #project h1 {
    text-align: center; }
  #project .project-gallery {
    height: 360px;
    width: 640px;
    background-size: cover;
    border: black 1px solid; }
  #project p {
    font-style: italic; }
  #project a {
    color: black;
    text-decoration: none;
    transition: .2s; }
    #project a:hover {
      letter-spacing: .5px;
      color: salmon;
      transition: .2s; }

@media (max-width: 999px) {
  #project .project-gallery {
    height: 288px;
    width: 512px; } }

@media (max-width: 700px) {
  #project .project-gallery {
    height: 240px;
    width: 426px; } }

@media (max-width: 615px) {
  #project .project-gallery {
    height: 120px;
    width: 213px; } }

#technical .tech-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden; }
  #technical .tech-container h1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 40%;
    z-index: 10; }
  #technical .tech-container #techContent {
    opacity: 0;
    transition: .2s;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 10; }

.techLogo {
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer; }

.html-img, .css-img, .js-img {
  width: 130px;
  height: 138px;
  position: absolute;
  background-size: cover;
  animation-duration: 5s; }

.ps-img, .wp-img {
  width: 116px;
  height: 116px;
  position: absolute;
  background-size: cover;
  animation-duration: 5s; }

.jq-img, .php-img {
  width: 95px;
  height: 107px;
  position: absolute;
  background-size: cover;
  animation-duration: 5.5s; }

.bs-img {
  width: 135px;
  height: 110px;
  position: absolute;
  background-size: cover;
  animation-duration: 4.5s; }

.html-img {
  background-image: url("../imgs/html.png");
  margin: auto;
  top: 10%;
  left: 10%;
  animation-name: floating; }

.css-img {
  background-image: url("../imgs/css.png");
  left: 44%;
  top: 70%;
  animation-name: floating2; }

.js-img {
  background-image: url("../imgs/js.png");
  left: 57.5%;
  top: 5%;
  animation-name: floating3; }

.ps-img {
  background-image: url("../imgs/ps.png");
  right: 15%;
  bottom: 15%;
  animation-name: floating4; }

.wp-img {
  background-image: url("../imgs/wp.png");
  left: 7%;
  bottom: 30%;
  animation-name: floating5; }

.jq-img {
  background-image: url("../imgs/jq.png");
  right: 7%;
  top: 20%;
  animation-name: floating6; }

.php-img {
  background-image: url("../imgs/php.png");
  left: 25%;
  bottom: 5%;
  animation-name: floating7; }

.bs-img {
  background-image: url("../imgs/bs.png");
  right: 52%;
  bottom: 76%;
  animation-name: floating8; }

@media (max-width: 991px) {
  .html-img, .css-img, .js-img {
    width: 97.5px;
    height: 103.5px;
    transition: .2s; }
  .ps-img, .wp-img {
    width: 87px;
    height: 87px;
    transition: .2s; }
  .jq-img, .php-img {
    width: 71.5px;
    height: 80.5px;
    transition: .2s; }
  .bs-img {
    width: 101.5px;
    height: 82.5px;
    transition: .2s; } }

@media (max-width: 570px) {
  .html-img {
    left: 0;
    top: 0; }
  .css-img {
    left: 30%;
    top: 0; }
  .js-img {
    right: 30%;
    top: 0; }
  .jq-img {
    right: 0;
    top: 0; }
  .php-img {
    left: 0;
    bottom: 0; }
  .wp-img {
    left: 25%;
    bottom: 0; }
  .ps-img {
    right: 30%;
    bottom: 0; }
  #bsLogo {
    right: 0;
    bottom: 0px; } }

@media (max-width: 425px) {
  #technical .tech-container {
    height: 300px; }
    #technical .tech-container #techContent {
      top: 55%; }
  .html-img, .css-img, .js-img {
    width: 48.75px;
    height: 51.75px;
    transition: .2s; }
  .ps-img, .wp-img {
    width: 43.5px;
    height: 43.5px;
    transition: .2s; }
  .jq-img, .php-img {
    width: 35.75px;
    height: 40.25px;
    transition: .2s; }
  .bs-img {
    width: 50.75px;
    height: 41.25px;
    transition: .2s; } }

@keyframes floating {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(2px, 2px); }
  40% {
    transform: translate(2px, 2px); }
  60% {
    transform: translate(2px, 1px); }
  80% {
    transform: translate(2px, 1px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floating2 {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(1px, 2px); }
  40% {
    transform: translate(2px, 2px); }
  60% {
    transform: translate(1px, 1px); }
  80% {
    transform: translate(1px, 2px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floating3 {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(2px, 2px); }
  40% {
    transform: translate(2px, 2px); }
  60% {
    transform: translate(2px, 1px); }
  80% {
    transform: translate(1px, 2px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floating4 {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(1px, 2px); }
  40% {
    transform: translate(1px, 1px); }
  60% {
    transform: translate(1px, 2px); }
  80% {
    transform: translate(1px, 1px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floating5 {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(2px, 1px); }
  40% {
    transform: translate(2px, 1px); }
  60% {
    transform: translate(1px, 1px); }
  80% {
    transform: translate(1px, 1px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floating6 {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(1px, 1px); }
  40% {
    transform: translate(2px, 1px); }
  60% {
    transform: translate(1px, 1px); }
  80% {
    transform: translate(2px, 2px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floating7 {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(2px, 1px); }
  40% {
    transform: translate(1px, 2px); }
  60% {
    transform: translate(1px, 2px); }
  80% {
    transform: translate(2px, 1px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes floating8 {
  0% {
    transform: translate(0px, 0px); }
  20% {
    transform: translate(1px, 2px); }
  40% {
    transform: translate(1px, 1px); }
  60% {
    transform: translate(1px, 1px); }
  80% {
    transform: translate(2px, 1px); }
  100% {
    transform: translate(0px, 0px); } }

#contact h1 {
  color: black; }

footer {
  color: white;
  width: 100%;
  height: 10vH;
  min-height: 110px;
  background-color: #333; }
  footer i {
    color: white;
    transition: .2s;
    font-size: 48px; }
    footer i:hover {
      transition: .2s; }
  footer .author {
    transition: .2s; }
    footer .author a {
      color: white; }
  footer .fa-github-square:hover {
    color: #6e5494; }
  footer .fa-linkedin:hover {
    color: #0077b5; }

@media (max-width: 615px) {
  footer i {
    font-size: 32px;
    transition: .2s; }
  footer div {
    margin: 0px; }
  footer .author {
    font-size: 12px;
    transition: .2s; } }
