// TECHNICAL SKILLS
#technical {
    .tech-container {
        width: 100%;
        height: 500px;
        position: relative;
        overflow: hidden;
    }

    h1 {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 40%;
        z-index: 10;
    }

    .circle {
        width: 95%;

        .techLogo {
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }

        .html-img, .css-img, .js-img {
            width: 130px;
            height: 138px;
            position: absolute;
            background-size: cover;
            animation-duration: 5s;
        }

        .ps-img, .wp-img {
            width: 116px;
            height: 116px;
            position: absolute;
            background-size: cover;
            animation-duration: 5s;
        }

        .jq-img, .php-img {
            width: 95px;
            height: 107px;
            position: absolute;
            background-size: cover;
            animation-duration: 5.5s;
        }

        .bs-img {
            width: 135px;
            height: 110px;
            position: absolute;
            background-size: cover;
            animation-duration: 4.5s;
        }
    }

    // HTML, CSS, JS Logos
    .html-img {
        background-image: url('../imgs/html.png');
        margin: auto;
        top: 10%;
        left: 10%;

        animation-name: floating;
    }

    .css-img{
        background-image: url('../imgs/css.png');
        left: 48%;
        top: 70%;

        animation-name: floating2;
    }

    .js-img{
        background-image: url('../imgs/js.png');
        left: 57.5%;
        top: 5%;

        animation-name: floating3;
    }

    // PhotoShop and WordPress Logos
    .ps-img{
        background-image: url('../imgs/ps.png');   
        right: 15%;
        bottom: 15%;

        animation-name: floating4;
    }

    .wp-img{
        background-image: url('../imgs/wp.png');
        left: 5%;
        top: 60%;

        animation-name: floating5;
    }

    // jQuery and PHP Logos
    .jq-img{
        background-image: url('../imgs/jq.png');
        right: 10%;
        top: 20%;

        animation-name: floating6;
    }
    
    .php-img{
        background-image: url('../imgs/php.png');
        left: 25%;
        bottom: 5%;

        animation-name: floating7;
    }

    .bs-img{
        background-image: url('../imgs/bs.png');
        left: 33%;
        top: 7%;

        animation-name: floating8;
    }
}

// Media Queries
@media (max-width: 1080px){
    .technical {
        .tech-container {
            .circle{
                .html-img {
                    height: 10px;
                    width: 10px; 
                }
            }
        }
    }

}

// FLoating Animations
@keyframes floating {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    40% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    60% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    80% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    100% {
        transform: translate(0px, 0px);
    }			
}

@keyframes floating2 {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    40% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    60% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    80% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    100% {
        transform: translate(0px, 0px);
    }			
}

@keyframes floating3 {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    40% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    60% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    80% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    100% {
        transform: translate(0px, 0px);
    }		
}

@keyframes floating4 {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    40% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    60% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    80% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    100% {
        transform: translate(0px, 0px);
    }			
}

@keyframes floating5 {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    40% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    60% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    80% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    100% {
        transform: translate(0px, 0px);
    }		
}

@keyframes floating6 {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    40% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    60% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    80% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    100% {
        transform: translate(0px, 0px);
    }			
}

@keyframes floating7 {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    40% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    60% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    80% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    100% {
        transform: translate(0px, 0px);
    }		
}

@keyframes floating8 {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    40% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    60% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    80% {
        transform: translate((random(2)+px), (random(2)+px));
    }
    100% {
        transform: translate(0px, 0px);
    }		
}